section {
  width: 100%;
  position: relative;
  height: 100vh;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    z-index:1000;
}

.info-box {
  position: absolute;
    transform: translate(0, -50%);
  top: 50%;
  height: 30em;
  width: 50em;
  padding: 1em 2em;
  border: 8px solid purple;
  margin: 0;
  background-color: white;
  overflow-y: hidden;
}

.box-right {
  right: 4em;
}

.box-left{
  left: 4em;
}

.box-left {
  right: -2em;
}
.strap, .banner {
  height: 50%;
  width: 100%;
}

.strap {
  padding: 0 3em;
  border-bottom: 4px solid purple;
}

.strap-text {
  margin-bottom: 8em;
}

.strap-text h1 {
  font-size: 50px;
  margin-top: 1em;
}

.strap-text span {
  display: block;
  margin: 1em 0;
  font-size: 25px;
  color: gray;
}

.banner{
  border-top: 4px solid purple;
  overflow: hidden;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

@media only screen and (max-width: 780px){
  .strap-text h1 {
    font-size: 33px;
    margin-bottom: 5px;
  }
  .strap-text h2 {
    font-size: 28px;
    margin: 0.5em 0;
  }
  .strap-text h2 {
    font-size: 25px;
  }

  .info-box{
    top: 63%;
    height: 33em;
    width: auto;
    padding: 0.5em 1em;
    overflow-y: scroll;
    background-color: #ffffffc7;
  }

  .box-left {
    left: 25px;
    right: 25px;
  }

  .box-right {
    right: 25px;
    left: 25px;
  }

  .strap {
    height: 30%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1em;
    border-bottom: none;
  }

  .strap-text{
    margin-top: 5em;
  }

  .strap-text span {
    margin: 0;
    font-size: 15px;

  }

  .banner {
    height: 70%;
    display: flex;
    align-items: flex-end;
    border-top: none;
  }

  .banner img {
      max-width: 200%;
      height: auto;
      display: block;
      overflow: hidden;
      object-fit: cover;
  }



}
